@import "tailwindcss";

@theme {
  --color-blue-primary: #1e40af;
  --color-blue-secondary: #3b82f6;
  --color-blue-light: #bfdbfe;
  --color-blue-dark: #1e3a8a;
  --color-blue-accent: #60a5fa;
  --color-bg-dark: #0f172a;
  --color-bg-card: #1e293b;
  --color-bg-cell: #1a3a6b;
  --color-text-muted: #94a3b8;
}
